<div class="mha-home" *ngIf="heroesList">
  <div class="mha-home__options">
    <mha-filter-form
      (submitEmitter)="filterHeroByName($event)"
    ></mha-filter-form>

    <span class="mha-home__options-add" [routerLink]="getCreateRoute()">
      Añadir</span
    >
  </div>
  <div class="mha-home__table">
    <mha-table
      [dataSource]="heroesList.heroes"
      (editEmitter)="goToEdit($event)"
      (deleteEmitter)="deleteHero($event)"
    ></mha-table>
  </div>
  <div class="mha-home__paginator">
    <mat-paginator
      [length]="heroesList.size"
      [pageSize]="2"
      [pageSizeOptions]="[1, 2, 5]"
      (page)="handlePageEvent($event)"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>

<ng-template #userDialogTemplate let-data>
  <h1 mat-dialog-title>Emilinar heroe</h1>
  <div mat-dialog-content>
    <p>¿Desea eliminar a {{ data.heroData.name }}?</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="">Cancelar</button>
    <button mat-button [mat-dialog-close]="data.heroData">Eliminar</button>
  </div>
</ng-template>
